{% extends 'base.html' %}
{% load static %}

{% block content %}
<section id="home-section" class="hero">
    <div class="home-slider owl-carousel">
        
        {% for s in slider %}
            
        
            
        <div class="slider-item" style="background-image: url({{s.image.url}});">
            <div class="overlay"></div>
        <div class="container">
            <div class="row slider-text justify-content-center align-items-center" data-scrollax-parent="true">

            <div class="col-md-12 ftco-animate text-center">
                <h1 class="mb-2">{{s.title}}</h1>
                
                <p><a href="#" class="btn btn-primary">View Details</a></p>
            </div>

            </div>
        </div>
        </div>
    {% endfor %}

    
  </div>
</section>


<section class="ftco-section">
    <div class="container">
        <div class="row no-gutters ftco-services">
  <div class="col-md-3 text-center d-flex align-self-stretch ftco-animate">
    <div class="media block-6 services mb-md-0 mb-4">
      <div class="icon bg-color-1 active d-flex justify-content-center align-items-center mb-2">
            <span class="flaticon-shipped"></span>
      </div>
      <div class="media-body">
        <h3 class="heading">Free Shipping</h3>
        <span>On order over $100</span>
      </div>
    </div>      
  </div>
  <div class="col-md-3 text-center d-flex align-self-stretch ftco-animate">
    <div class="media block-6 services mb-md-0 mb-4">
      <div class="icon bg-color-2 d-flex justify-content-center align-items-center mb-2">
            <span class="flaticon-diet"></span>
      </div>
      <div class="media-body">
        <h3 class="heading">Always Fresh</h3>
        <span>Product well package</span>
      </div>
    </div>    
  </div>
  <div class="col-md-3 text-center d-flex align-self-stretch ftco-animate">
    <div class="media block-6 services mb-md-0 mb-4">
      <div class="icon bg-color-3 d-flex justify-content-center align-items-center mb-2">
            <span class="flaticon-award"></span>
      </div>
      <div class="media-body">
        <h3 class="heading">Superior Quality</h3>
        <span>Quality Products</span>
      </div>
    </div>      
  </div>
  <div class="col-md-3 text-center d-flex align-self-stretch ftco-animate">
    <div class="media block-6 services mb-md-0 mb-4">
      <div class="icon bg-color-4 d-flex justify-content-center align-items-center mb-2">
            <span class="flaticon-customer-service"></span>
      </div>
      <div class="media-body">
        <h3 class="heading">Support</h3>
        <span>24/7 Support</span>
      </div>
    </div>      
  </div>
</div>
    </div>
</section>

<!-- Feature Products -->


<section class="ftco-section">
    <div class="container">
            <div class="row justify-content-center mb-3 pb-3">
      <div class="col-md-12 heading-section text-center ftco-animate">
          <span class="subheading">Featured Products</span>
        <h2 class="mb-4">Our Products</h2>
        <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia</p>
      </div>
    </div>   		
    </div>
    <div class="container">
        <div class="row">
            
            
         
            
            {% if product_paginator %}
            {% for p in product_paginator %}
            <div class="col-md-6 col-lg-3 ftco-animate">
                <div class="product">
                    <a href="{% url 'product_details' p.id %}" class="img-prod"><img class="img-fluid" src="{{p.image.url}}" alt="Colorlib Template">
                        <div class="overlay"></div>
                    </a>
                    <div class="text py-3 pb-4 px-3 text-center">
                        <h3><a href="{% url 'product_details' p.id %}">{{p.name}}</a></h3>
                        <div class="d-flex">
                            <div class="pricing">
                                <p class="price"><span>৳ {{p.price}}</span></p>
                            </div>
                        </div>
                        <!-- <div class="bottom-area d-flex px-3">
                            <div class="m-auto d-flex">
                                <a href="#" class="add-to-cart d-flex justify-content-center align-items-center text-center">
                                    <span><i class="ion-ios-menu"></i></span>
                                </a>
                                <a href="#" class="buy-now d-flex justify-content-center align-items-center mx-1">
                                    <span><i class="ion-ios-cart"></i></span>
                                </a>
                                <a href="#" class="heart d-flex justify-content-center align-items-center ">
                                    <span><i class="ion-ios-heart"></i></span>
                                </a>
                            </div>
                        </div> -->
                    </div>
                </div>
            </div>
            {% endfor %}
            {% else %}
            <p>No Product Available</p>
                
            {% endif %}
            
                



        </div>
        <center><button class="btn btn-outline-success"><a href="{% url 'all_products' %}">View All Products</a></button></center>
    </div>
    
</section>






    
{% endblock content %}
    