{% extends 'base.html' %}
{% load static %}

{% block content %}
<section class="ftco-section ftco-no-pb ftco-no-pt bg-light">
    <div class="container">
        <div class="row">
            <div class="col-md-5 p-md-5 img img-2 d-flex justify-content-center align-items-center" style="background-image: url({{user_data.image.url}});">
   
            </div>
            <div class="col-md-7 py-5 wrap-about pb-md-5 ftco-animate">
      <div class="heading-section-bold mb-4 mt-md-5">
          <div class="ml-md-0">
            <h2 class="mb-4">{{user_data.first_name}}</h2>
        </div>
      </div>
      <div class="pb-md-5">
            <p>Email: {{user_data.email}}</p>
            <p>Phone: {{user_data.phone}}</p>
            <p>Address: {{user_data.address}}</p>
             
                </div>
            </div>
        </div>
    </div>
</section>


<section class="ftco-section ftco-cart">
    <div class="container">
        <div class="row">
        <div class="col-md-12 ftco-animate">
            <div class="cart-list">
                <table class="table">
                    <thead class="thead-primary">
                      <tr class="text-center">
                        <th>&nbsp;</th>
                        <th>&nbsp;</th>
                        <th>Product name</th>
                        <th>Price</th>
                        <th>Quantity</th>
                       
                      </tr>
                    </thead>
                    <tbody>
                        
                        {% for p in products_data %}
                            
                        
                            
                      <tr class="text-center">
                        <td><a href="/delete/{{ p.id }}">Delete</a></td>
                        
                        <td class="image-prod"><div class="img" style="background-image:url({{p.image.url}});"></div></td>
                        
                        <td class="product-name">
                            <h3>{{p.name}}</h3>
                       
                        </td>
                        
                        <td class="price">{{p.price}}</td>
                        
                        <td class="price">{{p.quantity}}</td>
                        
                        
                      </tr><!-- END TR-->
                      {% endfor %}
                    
                    </tbody>
                  </table>
              </div>
        </div>
    </div>
    
    </div>
</section>





{% endblock content %}
    